<!-- <ul>
    <li *ngFor="let item of inboxMessages">
    {{ item.title }}<br />
    {{ item.content }}
  </li>
</ul> -->

<app-refresh class='app-btn-refresh' (myRefresh)='newRefresh()'></app-refresh>

<div class="form-control">
  Search:
  <input type="text" [(ngModel)]="filterText" (keyup)="handleSearchInput($event)"/>
</div>
<br />

<div *ngIf = "display">
  <app-spinner></app-spinner>
</div>

<ngb-accordion [closeOthers]="true" activeIds="0" (panelChange)="toggleAccordian($event)">
  <ngb-panel id="{{ i }}" *ngFor="let message of filteredMessages; let i = index">
    <ng-template ngbPanelTitle *ngIf="selectedEmail === message">
      <div style="color: rgb(177, 62, 16)">{{ message.title}}</div>
    </ng-template>
    <ng-template ngbPanelTitle *ngIf="selectedEmail !== message">
      {{ message.title }}
    </ng-template>
    <ng-template ngbPanelContent> {{ message.content }} </ng-template>
  </ngb-panel>
</ngb-accordion>
  



