<!-- <form method="POST" enctype="application/x-www-form-urlencoded"> -->
<!-- <form #myForm="ngForm" novalidate
  (ngSubmit)="formSubmit(myForm)">
  <label>Tytul:</label>
  <input name="title" type="text"
    [(ngModel)]="title"
    required
    minlength="3"
    maxlength="10"
    pattern="^[a-zA-Z]+$" />
  <br />
  <div *ngIf="myForm.controls.title?.errors?.required">
    Pole jest wymagane
  </div>
  <div *ngIf="myForm.controls.title?.errors?.minlength">
      Pole jest za krotkie
  </div>
  <div *ngIf="myForm.controls.title?.errors?.pattern">
      Tylko duze/male litery
  </div>
  <br />
  <label>Adres e-mail:</label>
  <input name="email" type="text"
    [(ngModel)]="email"
    required />
  <br />
  <button type="reset">Resetuj</button>
  <button type="submit" [disabled]="myForm.invalid">
    Wyslij
  </button>
</form> -->

<form novalidate
  (ngSubmit)="formSubmit()"
  [formGroup]="myFormGroup">
  <label>
      Tytul:
      <input type="text" formControlName="title" />
  </label>
  <div class="invalid" *ngIf="myFormGroup.get('title')?.hasError('minlength')">
      Pole jest za krotkie
  </div>
  <br />
  <label>
      Adres e-mail:
      <input type="text" formControlName="email2" />
  </label>
  <br />
  <div class="invalid" *ngIf="isValidField('email2')">
      Nieprawidlowy email
  </div>
  <label>
    Czy wysylac:
    <input type="checkbox" formControlName="checkbox" />
  </label>
  <br />
  <button type="reset">Resetuj</button>
  <button type="submit" [disabled]="myFormGroup.invalid">
    Wyslij
  </button>
 
</form>
